<h1 class="text-center mt-4 mb-2">Ifjúsági irodalom</h1>

<!-- - Jelenjen meg itt is a kiemelttermék-sor 5 termékkel, de ezeknek már ebből a kategóriából kell jönnie.
Ezek azok a termékek amelyek az adott kategóriához tartoznak és a featured tulajdonságuk true. -->

<h3 class="text-center mb-4">Kiemelt ajánlatunk</h3>
<!-- <app-product-paging [featuredList]="featuredList"></app-product-paging> -->
<app-product-paging [productList$]="productList$ | async | featured | randomize | slice:0:5">
</app-product-paging>

<!-- - Jelenjen meg alatta a terméklista. Itt az összes termék látható legyen rácsrendszerben, amely az adott kategóriában
található. Azt, hogy melyik termék melyik kategóriában van, a catId mondja meg.
- Legyen a terméklista tetején egy szűrőmező. Ez egy input mező, ha gépelni kezdenek bele, akkor a név alapján kezdje el
szűrni a termékeket, a legutóbbi feladathoz hasonlóan. -->

<div class="input mt-5">
    <form class="form-inline my-3 my-lg-0">
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<h3 class="text-center my-5">Teljes terméklista</h3>
<app-product-list [phrase]="phrase" [productList$]="productList$ | async  | filter:phrase:'title'">
</app-product-list>