<div class="container-fluid">
    <div class="row">
        <div class="mb-3 mx-auto" *ngFor="let product of productList | async | filter:phrase:'title'">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 mx-auto" *ngFor="let product of actionProducts | async">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 mx-auto" *ngFor="let product of cat02Products| async | filter:phrase:'title' | filter:catId">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>




    <div class="row">
        <div class="mb-3 mx-auto" *ngFor="let product of cat01Products | filter:phrase:'title'">
            <app-product-card [product]="product"></app-product-card>
        </div>
    </div>

</div>
